<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un contact</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Ajouter un contact</h1>
<form method="post">
    <p>
        <label>
            Prénom:  <input type="text" name="prenom">
        </label>
    </p>
    <p>
        <label>
            Nom:  <input type="text" name="nom">
        </label>
    </p>
    <p>
        <button type="submit">Ajouter</button>
    </p>
</form>
</body>
</html>
