<!DOCTYPE html>
<html>
<head>
    <title>Supprimer un contact</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Supprimer un contact</h1>
<form method="post">
    <p>Etes vous sur de vouloir supprimer Toto ?</p>
    <button name="confirm" value="oui">Oui</button>
    <button name="confirm" value="non">Non</button>
</form>
</body>
</html>
