<!DOCTYPE html>
<html>
<head>
    <title>Afficher un contact</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Afficher un contact</h1>
<p>Prénom : <%=contact.prenom%></p>
</body>
</html>
